<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="fragments/header :: header('Register')">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>

<div th:include="fragments/navbar :: navbar"></div>
<div class="container">
    <h1>Register</h1>
    <form th:action="@{/users/register}" th:method="POST" th:object="${user}">
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input id="username" type="text" th:field="*{username}" />
                <label for="username">Username</label>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('username')}"
                     th:errors="*{username}"></div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input id="email" type="text" th:field="*{email}" />
                <label for="email">Email</label>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input class="form-control" type="password" id="password" th:field="*{password}" />
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <input type="password" id="confirmPassword" name="confirmPassword" />
                <label for="confirmPassword">Confirm Password</label>
                <div class="alert alert-danger" th:if="${#fields.hasErrors('password')}"
                     th:errors="*{password}"></div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6 offset-s3">
                <button class="btn waves-effect waves-red form-button" type="submit">Register</button>
            </div>
        </div>
    </form>
</div>

<div th:include="fragments/footer :: footer"></div>
</body>
</html>